.cards {
    text-align: center;
}

body {
    background: #3a3a3a;
    color: #f0f8ff;
}

.box { 
    position: fixed;
    bottom: 50px;
    right: 50px;

    height: 50px;
    width: 50px;
    background-color: #922222bb;
    border-radius: 10px;

    color: #303030;
    font: 2em sans-serif;
    text-align: center;
    vertical-align: baseline;
}

.box:hover {
    background-color: #eb1313d5;
}
.box a {
    text-decoration: none;
}

